body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
header, footer {
  text-align: center;
}
h1, h2 {
  color: #005a9c;
}
a {
  color: #0077cc;
  text-decoration: none;
}
img {  
  border: 1px solid #ddd;  
  border-radius: 4px;  
  padding: 5px;  
}  
iframe {  
  border: 1px solid #ddd;  
  border-radius: 4px;  
}  
video {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
